/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Indie+Flower&display=swap");

:root {
  --pale-white: #fbf9fa;
  --light-pink: #ef8bba;
  --dark-pink: #c3195d;
  --purple: #680747;
  --black: #141010;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: pink;
}

.page-wrapper {
  display: grid;
  grid-template-areas:
    "intro intro"
    "main sidebar";
}

/* intro styling styling */

.intro {
  grid-area: intro;
  display: grid;
  grid-template-areas:
    "header"
    "preamble"
    "summary";
}

.summary {
  padding: 0 3em 0.1em;
}

.summary p:last-child {
  padding: 0.4em 0.5em;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.summary p {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.summary p:first-child {
  padding: 30px 0.5em 1em;
}
.summary p:first-child:before {
  content: " ";
  height: 60px;
  width: 70px;
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -35px;
  display: block;
  background: url("heart-and-lips.png") no-repeat 50% top;
}

.summary:has(a:link) {
    color: white;
    background-color:var(--dark-pink);
    padding-bottom: 20px;
}

.summary a:link {
    color: white;
}

.preamble {
  grid-area: preamble;
  padding: 40px;
  overflow: hidden;
}

.preamble h3:before {
  content: "Welcome to ";
}

.preamble h3:after {
  content: "!";
}

.preamble h3:hover {
    color: var(--purple);
    padding-top: 10px;
    transition-duration: 0.2s;
}

header {
  grid-area: header;
  background-image: url("https://www.fourseasons.com/alt/img-opt/~70.1530.0,0000-188,7219-3000,0000-1687,5000/publish/content/dam/fourseasons/images/web/KYO/KYO_813_original.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
}

header:first-child {
  border: 2px solid #f70776;
}

header > * {
  color: var(--pale-white);
  text-shadow: 2px 2px 2px var(--purple);
  font-size: 45px;
  animation: 2s anim-lineUp ease-out;
  /* animation: 2s anim-lineUp ease-out infinite; */
}

header > h1 {
  position: absolute;
  top: 8px;
  right: 16px;
}

header > h2 {
  position: absolute;
  top: 50px;
  right: 16px;
}

header > h2 > * {
  position: absolute;
  top: 50px;
  right: 16px;
  opacity: 0;
}

/* Main styling */

.main {
  margin-top: 30px;
  color: black;
  grid-area: main;
}

.main a:link {
  color: var(--purple);
}

.main a:link:hover {
  color: var(--light-pink);
}

.main > * {
  width: 50vw;
  border: 2px solid var(--pale-white);
  padding: 20px;
  margin: 20px;
}

.main div:nth-child(2n + 1),
footer {
  position: relative;
  left: 60px;
}

.explanation h3,
.participation h3,
.benefits h3,
.requirements h3 {
  text-decoration: underline;
  font-size: 1.5em;
  background-color: pink;
}

.explanation:after {
  content: "";
  display: block;
  background-image: url("https://i.pinimg.com/736x/4b/4b/11/4b4b110df48e34ba58df594fef56a3ac.jpg");
  background-position: bottom;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60vh;
}

.participation:after {
  content: "";
  display: block;
  background: url("https://cdn.shopify.com/s/files/1/2289/1873/files/Small_Portion_of_food_Elegant-min_be542f82-cfbf-4ba2-8096-fb58798cf338.jpg?v=1668530010")
    center center no-repeat;
  height: 60vh;
}

.benefits:after {
  content: "";
  display: block;
  background: url("https://img-b.udemycdn.com/course/750x422/4372468_0100.jpg")
    center center no-repeat;
  height: 60vh;
}

.requirements:after {
  content: "";
  display: block;
  background: url("https://www.foodandwine.com/thmb/xz69v522hvZjRNSn_EGmJrpP4uU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Best-US-Restaurants-Moon-Rabbit-FT-BLOG0423-433f315e34d249199548312d489f0196.jpg")
    center center no-repeat;
  height: 60vh;
}

/* Sidebar styling */

.sidebar {
  margin-top: 30px;
  display: flex;
  grid-area: sidebar;
  padding: 20px;
}

.sidebar > .wrapper {
  justify-content: end;
  height: fit-content;
  background-color: var(--light-pink);
  border: 2px solid var(--pale-white);
  padding: 40px;
  border-radius: 80px;
}

.wrapper h3 {
  font-size: 1.5em;
}

.sidebar a:link {
  color: #550028;
}
.sidebar .designer-name:link,
a:visited {
  color: #935;
}
.sidebar .designer-name:visited {
  color: #b68;
}

.design-selection h3:before {
  display: block;
  font-size: 1.5em;
  content: "Resteraunt Menu: ";
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper li {
  padding: 3px 1em;
  color: #c57e88;
  font-size: 1em;
  list-style-type: none;
}

.wrapper li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.wrapper a,
footer a {
  font-size: 1em;
}

.design-selection li {
  padding: 4px 1.5em 4px 1em;
  clear: left;
  text-align: right;
}

.design-name {
  float: left;
  max-width: 66%;
  text-align: left;
  margin: -1px -4px -4px 0;
  padding-right: 0.5em;
}
.designer-name {
  margin-right: -5px;
  margin-left: 2px;
}

.design-selection:after {
  content: "";
  display: block;
  background-image: url("https://mybartender.com/wp-content/uploads/2023/05/red-cocktails-1024x576.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60vh;
}

.design-archives:after {
  content: "";
  display: block;
  background-image: url("https://www.mommytravels.net/wp-content/uploads/2016/02/H2O-Sushi-Izakaya-H2O-Party-Cocktails-.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60vh;
}

.zen-resources:after {
  content: "";
  display: block;
  background-image: url("https://www.acouplecooks.com/wp-content/uploads/2019/06/Whiskey-Sour-111.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 60vh;
}

/* Animations */
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  header {
    height: 550px;
  }

  header > * {
    font-size: 35px;
  }

  .page-wrapper {
    display: grid;
    grid-template-areas:
      "intro"
      "sidebar"
      "main";
  }

  .sidebar {
    justify-self: center;
  }

  .main {
    justify-self: center;
    width: max-content;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 650px) {
  header {
    height: 400px;
  }

  header > * {
    font-size: 30px;
  }
}
